#nouser i {
  font-size: 300%;
}
#nouser img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.navbar-brand i {
  font-size: 300%;
  color: red;
}

body.noauth .only-auth {
  display: none;
}
body.auth .only-noauth {
  display: none;
}
